
@{
    ViewBag.Title = "BaiDang2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/CSS/index.css=v?687942" type="text/css">
    <link rel="stylesheet" href="~/Content/CSS/All Products.css?v=124512516" type="text/css">
    <link rel="stylesheet" href="~/Content/CSS/aos.css" type="text/css">
    <link rel="stylesheet" href="~/Content/PagedList.css">
    <link rel="stylesheet" href="~/Content/CSS/newheader.css?v=167982" type="text/css">
    <link rel="stylesheet" href="~/Content/CSS/newProduct.css?v=264895" type="text/css">
    <link rel="stylesheet" href="~/Content/CSS/newNews.css?v=6974873" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>


    <div class="introduce-title" style="margin-top:30px" data-aos="fade-up" data-aos-delay="0" data-aos-easing="linear" data-aos-duration="500">
        <div class="new-introduce-title" style="font-family: Montserrat">
            Sự kiện mùa đông
        </div>
        <div class="colorbar">
            <img src="~/Content/Images/index/colorbar.gif">
        </div>
    </div>

    <div class="news-post-container">
        <div class="news-post-content">
            <img src="~/Content/Images/winterevent.jpg" />
            <div class="news-post-desc">
                <p>Tham gia mua sắm tại Foodain vào mùa đông này với mã giảm giá Voucher đang chờ các bạn sử dụng</p>
                <p>Nhận ngay Voucer: FDAWinter</p>
            </div>
        </div>
    </div>

</body>
</html>